# Environment variables for Docker Compose setup

# PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=gateway_db
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Node.js Server
PORT=3000
DATABASE_URL=postgresql://user:password@postgres_db:5432/gateway_db
REDIS_URL=redis://redis_cache:6379
